body { 
    font-family: Arial, sans-serif; 
    margin: 40px; 
    background: #94b9ff; 
}

h1 { 
    color: #333;
    font-size: xxx-large;
}
.description {
        color: #000;

}

.questionbox {
    background: #efefef;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 25px;
}

.question, .result-page { 
    margin-top: 30px; 
}

button { 
    margin-top: 20px; 
    padding: 8px 16px; 
    background: #3363b4; 
    color: #fff; 
}
a { 
    color: #0066cc; 
}
.reason { 
    margin-top: 15px; 
}
.answers { 
    margin-top: 15px; 
    background: #fff; 
    padding: 15px; 
    border-radius: 6px; 
}
.answers li { 
    margin: 4px 0; 
}


.info {
    display: inline-block;
    color: #0077cc;
    background-color: #fff;
    padding: 2px; 
    border-radius: 6px;
}